<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>E:\MyGame\myGame\runtime\Win32Player(4.2.8)\Win32Player.exe</StartProgram>
    <StartArguments>sw1280 sh720</StartArguments>
    <StartWorkingDirectory>E:\MyGame\myGame\runtime\Win32Player(4.2.8)</StartWorkingDirectory>
  </propertyGroup>
</Project>