<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>E:\DominoGaple\DominoGaple\runtime\Win32Player\Win32Player.exe</StartProgram>
    <StartArguments>-960 -640</StartArguments>
    <StartWorkingDirectory />
  </propertyGroup>
</Project>